* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: black;
}

header {
  background-color: black;
}
header > a {
  display: flex;
  justify-content: center;
}

footer,
footer > a {
  display: flex;
  justify-content: center;
}

#cards-container {
  margin-right: 2vw;
  margin-left: 2vw;
}

.card-group {
  margin-left: 9vw;
  margin-right: 8vw;
}

.card {
  margin-right: 3vw;
}


//Likes//

#sort {
  margin-bottom: 3vh;
  margin-top: 3vh;
  margin-right: 2vw;
}


//Likes//



#tvshowImg {
  display: flex;
  justify-content: center;
}

#vpn {
  display: flex;
  justify-content: center;
}
